

*.bak
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.save
*.swp
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspace
*/build/*
*~.nib
.DS_Store
._*
.idea
/dataSources
/dataSources.local.xml
/httpRequests
/shelf
/workspace.xml
DerivedData
Podfile.lock
Pods
build
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/sign&cert
fastlane/test_output
profile
project.xcworkspace
xcuserdata